.main{
    display: flex;
    flex-direction: column;
}
.body{
    padding-top: 4%;
}
.lists{
    display: flex;
    flex-direction: row;
}
.example-card {
    width: 400px;
    margin-bottom: 8px;
  }
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-y: auto;

}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-y: auto;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.round{
    border-radius: 25px;
}
.slika{
    object-fit: cover;
}
.creatingEvent{
    position: fixed; /* or absolute */
    top: 50%;
    left: 45%;
    z-index: 100; /* Sit on top */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e2e2;
    width: 195px;
    height: 134px;
    border-radius: 25px;}
  .spinertxt{
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size :18px;
  }