<ng-container *ngIf="spinner"> 
    <div class="creatingEvent">
        <div class="spinertxt"> Save Changes</div>
        <mat-spinner class="spiner"></mat-spinner> 
    </div>
    
  </ng-container>
  
<div class="main">
    <div class="nav">
        <app-nav-bar> </app-nav-bar>
        <hr>
    </div>

    <div class="body">


        <div class="lists">

            <div class="users">
                <div> USERS</div>
                
                <div *ngFor="let user of users" class="oneUser">

                    <mat-card class="example-card round">
                        <mat-card-header>
                            <mat-card-title-group>

                                <img class="slika" mat-card-md-image src={{user.picturePath}} style="border-radius: 55px;">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-card-title>{{user.firstName}}</mat-card-title>
                            <mat-card-title>{{user.lastName}}</mat-card-title>
                            <mat-card-title>{{user.city}}</mat-card-title>
                            <mat-card-title>{{user.email}}</mat-card-title>
                            <mat-card-title>{{user.username}}</mat-card-title>
                            <mat-card-title>{{user.gender}}</mat-card-title>

                            <div class="btn"> 
                                <button (click)="onDeleteUser(user,user.id)"  type="submit" mat-raised-button color="warn">DELETE</button>

                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="events">
                <div> EVENTS</div>

                <div *ngFor="let oneEvent of eventsForShow" class="oneEvent">
                    
                    <mat-card class="example-card round">
                        <mat-card-header>
                            <mat-card-title-group>

                                <img class="slika" mat-card-md-image src={{oneEvent.picturePath}} style="border-radius: 25px;">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-card-title>{{oneEvent.name}}</mat-card-title>
                            <mat-card-title>{{oneEvent.date}}</mat-card-title>
                            <mat-card-title>{{oneEvent.place}}</mat-card-title>
                            <mat-card-title>{{oneEvent.language}}</mat-card-title>
                            <mat-card-title>{{oneEvent.price | currency :'EUR'}}</mat-card-title>
                            <mat-card-title>{{oneEvent.shortDescribe}}</mat-card-title>
                            <div class="btn"> 
                                <button (click)="onDeleteEvent(oneEvent,oneEvent.id)" type="submit" mat-raised-button color="warn">DELETE</button>

                            </div>



                        </mat-card-content>
                    </mat-card>
                </div>

            </div>


        </div>

    </div>

    <app-bottom-bar class="botomBar"> </app-bottom-bar>





</div>