.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }
  .filters{
    display: flex;
    flex-direction: row;
  }
  .botomBar{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }