<div class="glavni">

    <app-nav-bar> </app-nav-bar>

    <div class="informations">

        

        <form class="example-form">

            


            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input matInput>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput>
                        </mat-form-field></td>
                </tr>
            </table>

            <p>
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select>
                        <mat-option value="M">Male</mat-option>
                        <mat-option value="F">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Custom calendar header</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                </mat-form-field>

            </p>

            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <textarea matInput placeholder="example@gmail.com"></textarea>
                </mat-form-field>

            </p>
        </form>

        <mat-card-header>
            <mat-card-title-group>
              <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>

    </div>
    <div class="buttons">
        <div *ngIf="true" class="example-button-row">

            <button mat-raised-button color="primary">Create</button>
            <button mat-raised-button>Exit</button>
            
        </div>

        <div *ngIf="false" class="example-button-row">

            <button mat-raised-button color="primary">Save Changes</button>
            <button mat-raised-button>Exit</button>
            
        </div>

    </div>

</div>
