<div class="glavni">

    <div>
        <app-nav-bar></app-nav-bar>
        <hr>
    </div>

    <div class="donjiDeo">


        <div class="informations">

            

            <form class="example-form">



                <mat-form-field class="example-full-width">

                    <mat-label>Event Name</mat-label>
                    <input (keyup)="onChangeName($event)" matInput>
                </mat-form-field>

                <p>
                    <mat-form-field class="example-full-width" >
                        <mat-label>Custom calendar header</mat-label>
                        <input (dateChange)="onChangeDate($event)"  matInput [matDatepicker]="picker">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                    </mat-form-field>

                </p>

                <p>
                    <mat-form-field >
                        <mat-label>Hour</mat-label>
                        <mat-select (selectionChange)="onChangeHour($event)">
                            <mat-option *ngFor="let hour of timeHours" value={{hour}}>{{hour}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Minut</mat-label>
                        <mat-select (selectionChange)="onChangeMinutes($event)">
                            <mat-option *ngFor="let minute of timeMinuts" value={{minute}}>{{minute}}</mat-option>
                      
                        </mat-select>
                    </mat-form-field>
                </p>

                <p> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Place</mat-label>
                        <input (keyup)="onChangePlace($event)" matInput>

                    </mat-form-field>
                </p>

                

                <p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Categories</mat-label>
                        <mat-select (selectionChange)="onChangeCategory($event)">
                            <mat-option *ngFor="let category of categories"  value={{category.id}}>{{category.type}}</mat-option>

                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Language</mat-label>
                        <mat-select (selectionChange)="onChangeLanguage($event)">
                            <mat-option value="English">English </mat-option>
                            <mat-option value="German">German </mat-option>
                            <mat-option value="Spanish">Spanish </mat-option>
                            <mat-option value="French">French </mat-option>
                            <mat-option value="Italian">Italian </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>

                <p>
                    
                </p>

               

                <p> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Price €</mat-label>
                        <input (keyup)="onChangePrice($event)" matInput>

                    </mat-form-field>
                </p>

                <p> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Describe</mat-label>
                        <input (keyup)="onChangeDescribe($event)" matInput>

                    </mat-form-field>
                </p>

                <p> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Describe Briefly</mat-label>
                        <input (keyup)="onChangeDescibeShort($event)" matInput>

                    </mat-form-field>
                </p>
            </form >

            <form class="formPT">
            <mat-card-header class="slika">
                
                <mat-card-title-group>
                    <img  class="slika" mat-card-xl-image
                        src={{event.picturePath}}>
                </mat-card-title-group>
            </mat-card-header>

            <mat-form-field class="example-full-width">

                <mat-label>Insert picture URL</mat-label>
                <input #imageSrc class="urlInputTxt" matInput>
                
            </mat-form-field>
            <button type="button" (click)="onChangeUrl(imageSrc.value)" mat-raised-button class="btnUrl" color="primary">Insert</button>

        </form>
            

        </div>
        <div class="buttons">
            <div *ngIf="true" class="example-button-row">

                <button (click)="onCreate()" mat-raised-button color="primary">Create</button>
                <button mat-raised-button a routerLink="/korisnikPocetna">Exit</button>

            </div>

            <div *ngIf="false" class="example-button-row">

                <button mat-raised-button color="primary">Save Changes</button>
                <button mat-raised-button a routerLink="/korisnikPocetna">Exit</button>

            </div>

        </div>
        <app-bottom-bar class="botomBar"></app-bottom-bar>
    </div>
    

</div>