<div class="glavna">


    <mat-toolbar class="navBar">
        <section>
            <div class="example-label">NigniteEMS</div>
            <form class="example-form">
                <mat-form-field class="example-full-width ">
                    <!-- <mat-label>Search</mat-label> -->
                    <input matInput placeholder="Search events" value="">

                </mat-form-field>



            </form>


        </section>
        <div class="example-button-row">



            <button (click)="onClick('AnchorId')" mat-raised-button>Find Events</button>
            <button a routerLink="/login" mat-raised-button>Log In</button>
            <button a routerLink="/signup" mat-raised-button>Sign Up</button>


        </div>

    </mat-toolbar>
    <!-- SLIKA -->
    <div class="slika">
        <img class="slika"
            src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    </div>
    <!-- Eventi -->

    <div class="eventi">

        <div id="AnchorId" class="eventi"></div>
        <div class="expiriecesText">
          Events
        </div>
        
        
        <div a routerLink="/eventsList" class="seeAllText">
            
            
                See All Events
           
          </div>
        <hr>
    
        <div class="listEvents">
          <div *ngFor="let event of events " class="event">
            <!-- <div *ngIf="user.createdEvents?.length "> -->
    
            
    
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{event.name}}</mat-card-title>
    
                  <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                {{longText}}
              </mat-card-content>
            </mat-card>
          </div>
          </div>
        <!-- </div>
    
    
    
      </div> -->

    <!-- Events expiriences -->
    <div class="expirienceMain">
        <div class="expiriecesText" > 
                <label >Users Experience</label>
                
        </div>
        
        <div class="expiriences">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar style="background-image: url('https://images.unsplash.com/photo-1664575599618-8f6bd76fc670?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;" class="example-header-image"></div>
                    <mat-card-title>Lillia Jackson</mat-card-title>
                    
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1664575599618-8f6bd76fc670?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar style="background-image: url('https://images.unsplash.com/photo-1557862921-37829c790f19?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;" class="example-header-image"></div>
                    <mat-card-title>Jonas Kakaroto</mat-card-title>
                    
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1557862921-37829c790f19?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar style="background-image: url('https://images.unsplash.com/photo-1484863137850-59afcfe05386?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;" class="example-header-image"></div>
                    <mat-card-title>Hayley  Christa</mat-card-title>
                    
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>



        </div>

    </div>

    <!-- donji kontejner -->

    <!-- <a name="bottom"></a>
    <nav class="donjiKontejner">
        <div class="copy-container">
            ©Copyright2023
        </div>
        <div class="ems-container">
            NigniteEMS
        </div>


    </nav> -->

   


</div>
<app-bottom-bar></app-bottom-bar>