.mat-toolbar{
    background-color: black;
    color: orange;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;

  }
  .mat-button{
     color: orange;
  }
  .spacer{
    flex: 1 1 auto;
  }
.main{
  display: flex;
  justify-content: space-between;
}
.copy{
  text-align: center;
  width: 100%;
}