<div class="main"> 
<mat-toolbar color="primary">
  <span a routerLink="/pocetna">NigniteEMS</span>
  <div class="spacer"></div>
  <ng-container *ngIf=" idUser != null">
    <a a routerLink="/korisnikPocetna" mat-button>Home</a>
    <a a routerLink="/createEvent" mat-button>Create Event</a>
    <a a routerLink="/eventsList" mat-button>Find Events</a>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button routerLink="/userProfil" mat-menu-item>Account Settings</button>
      <button routerLink="/myEvents" mat-menu-item>My Events</button>

      <button (click)="onLogOut()"  mat-menu-item>Log Out</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf=" idUser == null">
    <a routerLink="/pocetna" mat-button>Home</a>
    <a routerLink="/login" mat-button>Log In</a>
    <a routerLink="/signup" mat-button>Sign Up</a>
    
  </ng-container>
</mat-toolbar>
</div>