.mat-toolbar{
    background-color: white;
    color: orange;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;

  }
  .mat-button{
     color: orange;
  }
  .spacer{
    flex: 1 1 auto;
  }