.mat-toolbar{
     background-color: white;
    //background-color: #e1e1e1;
    border-bottom: solid black 1px;
    
    color: orange;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;

  }
  .mat-button{
     color: orange;
  }
  .spacer{
    flex: 1 1 auto;
  }