<div class="glavni">
    <div class="forma">
        <div a routerLink="/pocetna" class="text">NigniteEMS</div>
        <div class="text1">Log in</div>

        <form class="example-form">


            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input  (keyup)="onChangeUsername($event)" matInput >

                    <!-- <textarea  (keyup)="onChangeUsername($event)" matInput ></textarea> -->
                </mat-form-field>

            </p>

            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your password</mat-label>
                    <input (keyup)="onChangePassword($event)" matInput [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </p>

            

            <!-- <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <textarea (keyup)="onChangePassword($event)" matInput placeholder="example@gmail.com"></textarea>
                </mat-form-field>

            </p> -->
            <!-- <div class="dugmici"> 
                <button type="button" (click)="onLogin()" mat-raised-button color="primary">Log In</button>

                <button a routerLink="/signup" mat-raised-button color="primary">Sign Up</button>
            </div> -->

            <div class="dugmici"> 
                <div class="oneBtn">
                    
                    <button type="button" (click)="onLogin()" mat-raised-button color="primary">Log In</button>

                </div>
                <div class="oneBtn">
                    <button a routerLink="/signup" mat-raised-button color="primary">Sign Up</button>

                </div>
            </div>


          


        </form>
    </div>
    <div class="slika">
        <img class="slika"
            src="https://images.unsplash.com/photo-1487954152950-e0584673b7f3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <!-- https://images.unsplash.com/photo-1566737236500-c8ac43014a67?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D -->

    </div>


</div>
<app-bottom-bar class="botom"> </app-bottom-bar>