<div class="glavni">
    <app-edit-event [eventForChange]="eventForPopup" *ngIf="eventInformationPopup" (closePopup)="close()"
        class="eventInformationPage"> </app-edit-event>
    <div>
        <app-nav-bar class="navBar"></app-nav-bar>
        <hr>
    </div>

   



    <!-- EVENTI -->
    <div class="events">
        <ng-container *ngFor="let event of userEvents">
            <div *ngIf="event.place == selectedLocation || selectedLocation == 'All'" class="oneEvent">



                <mat-card class="example-card ">



                    <mat-card-header>


                        <mat-card-title>Name :{{event.name}}</mat-card-title>
                        <mat-card-subtitle>Location: {{event.place}}</mat-card-subtitle>
                        <mat-card-subtitle>Date: {{event.date}}</mat-card-subtitle>
                        <mat-card-subtitle>Time: {{event.time}}</mat-card-subtitle>
                    </mat-card-header>
                    PROMENI SLIKA DA SE CITA IZ BAZU
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            {{event.shortDescribe}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions class="buttonPosition">
                        <button (click)="openEvent(event)" class="button" mat-button>Edit Event</button>


                    </mat-card-actions>

                </mat-card>
            </div>
        </ng-container>

    </div>

    <app-bottom-bar class="botomBar"></app-bottom-bar>
</div>