.glavni {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  // padding-left: 5%;
  // padding-right: 3%;
}

.filters {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
}

.slectFilters {
  display: flex;
  flex-direction: row;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 16px;
}

.radioFilter {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
}

.formClass {
  padding-left: 1%;
  padding-right: 1%;
}

.botomBar {
  //position: fixed;
  align-self: baseline;
  width: 100%;
}

.events {
  // padding-left: 3%;
  // padding-right: 3%;
  // padding-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.oneEvent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
}

.button {
  display: flex;

  justify-content: center;
}

.button:hover {
  background-color: rgba(225, 225, 225, 0.459);
  cursor: pointer;
}

.buttonPosition {
  display: flex;

  justify-content: center;
}

.eventInformationPage {
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 10%;
  top: 8%;
  width: 80%;
  /* Full width */
  height: 90%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  //border: 1px solid black;
}

.slika {
  width: 354px;
  height: 287px;
  align-self: center;
}