<div class="popup">
    <div class="x-container">
        <button  (click)="close() " class="btn"><mat-icon>close</mat-icon></button>
    </div>
   
    <div class="text">
        <b>Your review will be posted publicly.</b>
    </div>
    <div class="rating">
        <mat-form-field>
            <mat-label>Rating</mat-label>
            <mat-select (selectionChange)="onRatingChange($event)" [(value)]="selectedRating">
                <mat-option value="1">1 </mat-option>
                <mat-option value="2">2 </mat-option>
                <mat-option value="3">3 </mat-option>
                <mat-option value="4">4 </mat-option>
                <mat-option value="5">5 </mat-option>

            </mat-select>
        </mat-form-field>   
        
    </div>
    <div class="input">
        <mat-form-field class="example-full-width">
            <mat-label>Comment</mat-label>
            <input matInput (keyup)="onCommentChange($event)">
        </mat-form-field>
    </div>
    
    <div class="buttons">
        <button (click)="close() " mat-raised-button>Close</button>
        <button (click)="onAddReview()" mat-raised-button color="primary">Post</button>
    </div>
</div> 