.popup{
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 30%;
    top: 40%;
    width: 40%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    overflow-y: hidden;
    

  }
.text{
    padding-top: 0.5%;

    padding-bottom: 1%;
    padding-left: 1%;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size :16px;
    font-weight :500;
    letter-spacing: normal;
    line-height: 24px;
}
.rating{
    display: flex;
    justify-content: flex-start;

}
.input{
    display: flex;
    width: 100%;
    height: auto;

}
.example-full-width{
    width: 100%;
    height: 10%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 22%;
}
.btn{
    border: none;
    background-color: white;
    border-radius: 8px;

}
.btn:hover{
background-color: rgb(220, 220, 220);
}