.glavni{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.slika{
    @media (max-width: 1411px) {
        display: none;
    }
    display: flex;
    object-fit: cover;
    object-position: 0% 50%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.forma{
    @media (max-width: 1411px) {
        margin-left: auto;
        margin-right: auto;
    }
    padding-left: 3%;
    padding-right: 2.7%;
    display: flex;
    padding-top:5%;
    flex-direction: column;
}
.example-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }


  section {
    display: flex;
  }
  
  .example-label {
    display: flex;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .dugmici{
    display: flex;
    flex-direction: column;
    padding-top: 4.5%;
  }
  .text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   // color: orange;
   color: #3f51b5;
    font-size: 50px;
    min-height: 50px;
    cursor: pointer;
  }
  .text1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 50px;
    min-height: 50px;
  }
  .text-danger{
    color: red;
  }
  .oneBtn{
    padding-top: 0.5%;
    width: 100%;
    padding-bottom: 2.5px;
  }
  .glaviSaBarom{
    display: contents;
  }
  .botom{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
