.mainDiv {
    display: flex;
    flex-direction: column;
    
}
.picture{
    width: 134px;
    height: auto;
    align-self: center;
}
.text {
    padding-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 30px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    //min-width: 120px;
}

.d {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 3%;
    // height: 90vh;
    
}

.profilInfo {
    min-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.example-card1{
   
    display: flex;
    flex-direction: row-reverse;
    height:100vh;
   
}

.buttonPosition{
    display: flex;
    
    justify-content: center;
  }
.eventsList{
    display: flex;
    flex-direction: column;
    flex: 1 1;
   height: 800px;
   overflow-y: auto;
}


.example-full-width {
    width: 100%;
    // min-width: 70%;
}
.example-full-width1 {
    width: 100%;
    // min-width: 70%;
}
.btnUrl{
    align-self: center;
}

td {
    padding-right: 8px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.eventText {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
    margin-left: 5%;
}
.botomBar{
    //position: fixed;
    align-self: baseline;
    width: 100%;
  }
.oneEvent{
    padding-top: 14%;
    padding-bottom: 2%;
    justify-content: center;
}
.imageandInfo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
   // height: 759px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.infoInputs{

    padding-left: 3%;
    display: flex;
    //height: 100%;
    width: auto;
    align-self: center;
    align-items: center;
    
    
}
.imageInfo{
    padding-top: 3%;
    padding-right: 3%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    height: auto;
    flex-direction: column;
}
.btnReview{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}
.alineTextRegistratedEvents{
    display: flex;
    justify-content: center;
}
.mdc-card__media:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    object-fit: cover;
}

// .eventsList{
//     width: 50%;
// }
// .example-card {
//     max-width:fit-content;

//     margin-bottom: 8px;
//   }
//   .example-form {
//     min-width: 150px;
//    // max-width: 500px;
//     width: 100%;
//   }
.editUser{
    position: fixed; /* or absolute */
    top: 50%;
    left: 45%;
    z-index: 100; /* Sit on top */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e2e2;
    width: 195px;
    height: 134px;
    border-radius: 25px;}
  .spinertxt{
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size :18px;
  }