<div class="mainDiv">

    <div class="g">
        <app-nav-bar></app-nav-bar>
        <hr>
        <div class="text">Account Information</div>
        <hr>
    </div>

    <div class="d">

        <div class="profilInfo">
            <!-- <div> profil info</div> -->
            <mat-card class="example-card1">
                <mat-card-header>
                    <mat-card-title-group>
                        <div>
                            <mat-card-title>Profil Photo</mat-card-title>

                            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">

                        </div>


                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td><mat-form-field class="example-full-width">
                                    <mat-label>First name</mat-label>
                                    <input matInput>
                                </mat-form-field></td>

                        </tr>
                        <tr>

                            <td><mat-form-field class="example-full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput>
                                </mat-form-field></td>
                        </tr>
                    </table>

                    <p>
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <mat-select>
                                <mat-option value="M">Male</mat-option>
                                <mat-option value="F">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <mat-label>Calendar </mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                        </mat-form-field>

                    </p>

                    <p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <textarea matInput placeholder="example@gmail.com"></textarea>

                        </mat-form-field>
                    </p>
                    <p>
                        <button mat-raised-button color="warn">Save Changes</button>
                    </p>
                </mat-card-content>
            </mat-card>


        </div>

        <div class="eventsList">
            <div class="eventText">Registrated Events</div>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>

    </div>

</div>