<!-- <ng-container *ngIf="switch"> -->
  <ng-container *ngIf="spinner"> 
    <div class="creatingEvent">
        <div class="spinertxt"> Register For Event</div>
        <mat-spinner class="spiner"></mat-spinner> 
    </div>
    
</ng-container>

<ng-container *ngIf="alredyRegister"> 
  <div class="creatingEvent">
      <div class="spinertxt"> Alredy Registrated </div>
      <mat-spinner class="spiner"></mat-spinner> 
  </div>
  
</ng-container>
<div class="main">



  <div class="navBar">
    <app-nav-bar> </app-nav-bar>
  </div>

  <div class="allinfo">

    <div class="imageDiv">
      <img class="slika"
        src={{eventForShow.picturePath}}>
      <!-- <img class="slika"
        src="https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"> -->
    </div>




    <div class="info">

      <div class="forDisplay">
        <div class="infoLeft">
          <mat-label class="dateShort">{{dateForShow | date:' MMM dd yyyy' }}</mat-label>
          <mat-label class="eventName"> {{eventForShow.name}} </mat-label>



          <mat-label class="shortDes"> {{eventForShow.shortDescribe}} </mat-label>



          <mat-label class="titles"> Date: </mat-label>
          <mat-label class="date"><mat-icon>date_range</mat-icon> {{eventForShow.date | date:'MM/dd/yyyy'}} GMT+0100
            (Central European Standard Time)</mat-label>

          <mat-label class="titles"> Time: </mat-label>
          <mat-label class="date"><mat-icon>access_time</mat-icon> {{eventForShow.time}} </mat-label>

          <mat-label class="titles"> Location: </mat-label>
          <mat-label class="location"><mat-icon> location_on</mat-icon> {{eventForShow.place}} </mat-label>

          <mat-label class="titles"> Price: </mat-label>
          <mat-label class="location"><mat-icon> money</mat-icon> {{eventForShow.price | currency :'EUR'}} </mat-label>

          <mat-label class="titles"> Price RSD: </mat-label>
          <mat-label class="location"><mat-icon> money </mat-icon> {{eventForShow.price | eurToRsd | currency :'RSD '}}
          </mat-label>

          <ng-container *ngIf="!!averageRating">
            <mat-label class="titles">
              Average Rating:
            </mat-label>
            <mat-label class="location">
              <mat-icon>star</mat-icon>
              {{averageRating}}
            </mat-label>

          </ng-container>

          <mat-label class="titles">
            Language:
          </mat-label>
          <mat-label class="location">
            <mat-icon>
              language
            </mat-icon>
            {{eventForShow.language}}
          </mat-label>

          <mat-label class="titles"> Category: </mat-label>
          <mat-label class="location"><mat-icon> category</mat-icon> {{eventForShow.categories?.type}}</mat-label>


          <mat-label class="titles"> Refund Policy: </mat-label>
          <mat-label class="longDes"> Contact the organizer to request a refund. </mat-label>

          <mat-label class="titles"> About this event: </mat-label>
          <mat-label class="longDes"> {{eventForShow.longDescribe}} </mat-label>

        </div>
        <div class="infoRight">

          <!-- <div class="imageDiv">
            <img class="slika2"
              src={{eventForShow.picturePath}}>

          </div> -->

          
          <app-map [nameCity]="placeForSend" *ngIf="!!placeForSend" class="map"> </app-map>

        </div>

      </div>

      <div class="btnReg"> <button (click)="register()" type="submit" mat-raised-button color="primary" style="border-radius: 25px;"
        class="btn">Register For Event</button> </div>


      <ng-container *ngIf="!!eventUserConection.length"> 
      <mat-label class="titles regUser"> Registrated Users </mat-label>

      <div class="registratedUsers">

        <div *ngFor="let conection of eventUserConection" class="oneUser">


          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group class="justify">
                <img mat-card-sm-image src={{conection.registratedUser.picturePath}}>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <mat-card-title class="title">{{conection.registratedUser.username}}</mat-card-title>
            </mat-card-content>
          </mat-card>


        </div>





      </div>
    </ng-container>
      <ng-container *ngIf="!!averageRating">
        <mat-label class="titles regUser"> Reviews </mat-label>

        <div class="registratedUsers">

          <div *ngFor="let reviev of eventForShow.reviews" class="oneUser">


            <mat-card class="example-card reviewCard">
              <mat-card-header>
                <mat-card-title><mat-icon>star</mat-icon> {{reviev.rating}} </mat-card-title>

              </mat-card-header>
              <mat-card-content class="content">
                <p><mat-icon> comment</mat-icon> {{reviev.comment}}</p>
              </mat-card-content>

            </mat-card>


          </div>





        </div>
      </ng-container>



      <!-- <div class="btnReg"> <button (click)="register()" type="submit" mat-raised-button color="primary" style="border-radius: 25px;"
          class="btn">Register For Event</button> </div> -->


    </div>






  </div>

  <div class="botBar">
    <app-bottom-bar> </app-bottom-bar>
  </div>


</div>
<!-- </ng-container> -->