.main{
  display: flex;
  flex-direction: column;
}
.slika{
  display: flex;
  flex: 1 1;
  max-width: 60%;
  width: auto;
  max-height: 70vh;
  object-fit: cover;

}
// .slika2{
//   display: flex;
//   flex: 1 1;
//   max-width: 60%;
//   width: auto;
//   max-height: 50%;
//   object-fit: cover;

// }
.imageDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.info{
  display: flex;
  flex-direction: column;
  padding: 7%;
  padding-top: 3%;

}
.titles{
padding-top: 1%;
 // box-sizing :border-box;
color :rgb(30, 10, 60);
//display: block;
font-family :"Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
font-size :24px;
font-weight :700;
height: 28px;
letter-spacing :normal;
line-height :28px;
}
.dateShort{
  padding-bottom: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :18px;
  font-weight: 600;
  letter-spacing: normal;
  line-height : 24px;
}
.eventName{
  padding-bottom: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
font-size :52px;
font-weight :800;
letter-spacing: normal;
line-height: 64px;
}
.shortDes{
  
  padding-bottom: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :16px;
  font-weight :600;
  letter-spacing: normal;
  line-height: 24px;
}
.date{
  display: flex;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :16px;
  font-weight :600;
  letter-spacing: normal;
  line-height: 24px;
}
.location{
  display: flex;
  padding-top: 0.5%;
  
  padding-bottom: 1%;
  padding-left: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :21px;
  font-weight :570;
  letter-spacing: normal;
  line-height: 24px;
}
.longDes{
  padding-top: 0.5%;

  padding-bottom: 1%;
  padding-left: 1%;
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :16px;
  font-weight :500;
  letter-spacing: normal;
  line-height: 24px;
}
.btnReg{
  padding-top: 2%;
  align-self: center;
  width: 100px;
  
}
.btn{
  height: 80px;

}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  border-radius: 25px;

}
.reviewCard{
  min-width: 150px;
}
.content{
  display: flex;
  
}
.registratedUsers{
  // @media (overflow-block: scroll) {
  //  // justify-content: flex-start;
  // }
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 310px;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  overflow-x: none;
}
.oneUser{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}
.title{
  display: flex;
  justify-content: center;
}
.regUser{
  align-self: center;
  padding-bottom: 2%;
  padding-top: 1%;
}
.map{
  height: 30vh;
  width: 90%;
}
.infoLeft{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.infoRight{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.forDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.creatingEvent{
  position: fixed; /* or absolute */
  top: 50%;
  left: 45%;
  z-index: 100; /* Sit on top */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e2e2;
  width: 195px;
  height: 134px;
  border-radius: 25px;}
.spinertxt{
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size :18px;
}
.mdc-card__media:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-radius: 25px;
  object-fit: cover;
}
.justify{
  display: flex;
  justify-content: center;
  object-fit: cover;

}



