<div class="glavna">

    <app-nav-bar></app-nav-bar>
    <hr>

    <!-- SLIKA -->
    <div class="slika">
        <img class="slika"
            src="https://images.unsplash.com/photo-1583470037890-73cc6850b7eb?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <button class="btn">Find Events</button>
    </div>

    <div class="createEvent">
        <div class="createText">
            Create An Event
        </div>
        <hr>

        <div class="createDonji">

            <div class="textDugme">

                <div class="text2">Text o tome kako je kul da se ide na eventi</div>

                <button mat-raised-button color="primary">Create</button>

            </div>

            

            <hr>



            <img class="slika2"
                src="https://images.unsplash.com/photo-1501238295340-c810d3c156d2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">





        </div>

    </div>

    

    <div class="kategorije">

        <div class="createText">
            Categories
        </div>
        <hr>

        <div class="listCategories">

            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>

        </div>

    </div>

    

    <div class="organizatori">

        <div class="createText">
            Organizers
        </div>
        <hr>

        <div class="listOrganizatori">

            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
              </mat-card>

        </div>

       

    </div>

    

    <app-bottom-bar></app-bottom-bar>

</div>